html {
    background-color: #D05655;

}

body {
    background: rgb(99,0,0);
    background: linear-gradient(
        #0D191D 0,
        #283656 200px,
        #834273 400px,
        #D05655 600px) no-repeat;
}

html {
    background-color: #ffffa8
}

h1, p {
    margin: 0
}